<%= flash[:notice] if flash[:notice] %>
<h1>Home!</h1>


<h2>This page should have</h2>
<ul>
  <li>Sign-in for if not signed in</li>
  <li>Link to own profile if signed in</li>
  <li>"newsfeed"</li>
  <li>list of users that link to their profiles</li>
  <li>link to show comments</li>
  <li>link to create an account</li>
  <li>show tags on each post</li>
</ul>
<hr>
<ul>
    <% @users.each do |user| %>
      <li>
        Username: <%= user.username%> <a href="/profile/<%=user.id%>">view profile</a>
        <br>
        Password: <%= user.password%>
      </li>
    <% end %>
</ul>
<hr>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h2><a href=<%=post.url%>><%= post.title%></a> | <a href="/post/<%=post.id%>">Isolate Post</a></h2>

        <% if post.user %>
        <p><a href="/profile/<%=post.user.id%>"><strong><%=post.user.username%></strong></a></p>

        <% end %>

        <p><%=post.body%></p>
        <p><strong>Tag: </strong><%=post.tag.name%></p>
        <ul>
          <% post.comments.each do |comment| %>
            <li>
              <p><strong><%=comment.user.username%></strong></p>
              <p><%=comment.body%></p>
            </li>
          <% end %>
          <form method="post" action="/comment/<%=post.id%>/<%=post.user.id%>/new">
            <textarea name="body" rows="4" cols="50" Placeholder="Comment"></textarea>
            <button type="submit">Post!</button>
          </form>
        </ul>
      </li>
    <% end %>
</ul>
