<%= flash[:notice] if flash[:notice] %>
<!-- <h1>Home!</h1> -->
<hr>
<h2>Users</h2>
<ul>
    <% @users.each do |user| %>
      <li>
        Username: <%= user.username%> <a href="/profile/<%=user.id%>">view profile</a>
        <br>
        Password: <%= user.password%>
      </li>
    <% end %>
</ul>
<hr>
<h2>All Posts</h2>
<%= erb :post_card %>
