    <% @posts.each do |post| %>
      <div class="postcard">
        <h2><a href=<%=post.url%>><%= post.title%></a> | <a href="/post/<%=post.id%>">Isolate Post</a>
          <% if session[:user_id] && session[:user_id] == post.user.id %>
           | <form method="post" style="display: inline-block"><button formaction="/post/<%=post.id%>/delete" type="submit">Delete Post</button></form>  | <a href='/post/edit/<%=post.id%>'>Edit Post</a>
          <% end %>
        </h2>

        <% if post.user %>
        <p><a href="/profile/<%=post.user.id%>"><strong><%=post.user.username%></strong></a></p>

        <% end %>

        <p><%=post.body%></p>
        <a href='/tag/<%=post.tag_id%>'><p><strong>Tag: </strong><%=post.tag.name%></p></a>
        <ul>
          <% post.comments.each do |comment| %>
            <li>
              <p><strong><%=comment.user.username%></strong></p>
              <p><%=comment.body%></p>
              <% if session[:user_id] && session[:user_id]==comment.user.id%>
                 <form method="post"><button formaction="/comment/<%=comment.id %>/delete" type="submit">Delete Comment</button></form>
                 <a href="/comment/<%=comment.id%>/edit"><button>Edit Comment</button></a>
                 <br>
              <% end %>
            </li>
          <% end %>
          <% if session[:user_id] %>
            <form method="post" action="/comment/<%=post.id%>/<%=session[:user_id] if session[:user_id]%>/new">
              <textarea name="body" rows="4" cols="50" Placeholder="Comment"></textarea>
              <button type="submit">Post!</button>
            </form>
          <% end %>
        </ul>
      </div>
    <% end %>