 <div class="list-group">   
    <% @posts.each do |post| %>
      <div class="postcard list-group-item row">

            <div class="col-xs-3 col-sm-2 col-lg-1">
              <img src=<%=post.user.pic%> class="img-responsive postcard-pic">
            </div>

            <div class="col-xs-9 col-sm-10 col-lg-11">
              <p><a href="/profile/<%=post.user.id%>"><strong><%=post.user.username%></strong></a> <%=post.created_at%></p>
              <h3><a href=<%=post.url%>  target="_blank"><%= post.title%></a>
                <span class="post_options">
                  <a href="/post/<%=post.id%>">(isolate)</a>
                  <% if session[:user_id] && session[:user_id] == post.user.id %> <!-- checks if user owns post -->
                   | <form method="post" style="display: inline-block" action="/post/<%=post.id%>/delete" id="my_form">
                     <a href="javascript:{}" onclick="document.getElementById('my_form').submit();">(delete)</a>
                   </form>
                     | <a href='/post/edit/<%=post.id%>'>(edit)</a>
                  <% end %>
                </span>
              </h3>
              <p><%=post.body%></p>
              <a href='/tag/<%=post.tag_id%>'><p><strong>Tag: </strong><%=post.tag.name%></p></a>


            <div class="well comment-well">
              <ul class="list-group">
          <% if post.comments.count > 0 %>
                <% post.comments.each do |comment| %>
                  <li class="list-group-item" href="/comment/<%=comment.id%>">
                    <h5>
                      <strong><a href="/profile/<%=comment.user.id%>"><%=comment.user.username%></a></strong>
                      <% if session[:user_id] && session[:user_id]==comment.user.id%>
                         <form method="post" id="comment_form" action="/comment/<%=comment.id %>/delete" style="display: inline-block">
                            <a href="javascript:{}" onclick="document.getElementById('comment_form').submit();">(delete)</a>
                         </form>
                          <a href="/comment/<%=comment.id%>/edit">(edit)</a>
                      <% end %> <!-- if session[:user_id] && session[:user_id]==comment.user.id -->
                    </h5>
                    <p><%=comment.body%></p>
                  </li>
                <% end %> <!-- end looping through comments -->
                
            <% end %> <!-- if post has comments -->

                <% if session[:user_id] %>
                  <li class="list-group-item">
                    <form method="post" action="/comment/<%=post.id%>/<%=session[:user_id] if session[:user_id]%>/new" class="form-inline">
                      <div class="form-group">
                        <textarea name="body" class="form-control" rows="4" cols="50" Placeholder="Comment"></textarea>
                      </div>
                      <button type="submit" class="btn btn-default">Post!</button>
                    </form>
                  </li>
                <% end %> <!-- if session[:user_id], enable commenting -->
              </ul>
            </div> <!-- end comment well -->
            
          </div> <!-- end content column -->


          </div>
    <% end %> <!-- cycle through posts -->
</div>